{
  "automatic": {
    "movies": {
      "anticipated": 3,
      "boxoffice": 10,
      "interval": 20,
      "popular": 3,
      "trending": 3
    },
    "shows": {
      "anticipated": 10,
      "interval": 48,
      "popular": 1,
      "trending": 1
    }
  },
  "core": {
    "debug": false
  },
  "filters": {
    "movies": {
      "allowed_countries": [],
      "allowed_languages": [],
      "blacklisted_genres": [],
      "blacklisted_max_runtime": 0,
      "blacklisted_max_year": 2019,
      "blacklisted_min_runtime": 60,
      "blacklisted_min_year": 2000,
      "blacklisted_title_keywords": [],
      "blacklisted_tmdb_ids": [],
      "disabled_for": [],
      "rotten_tomatoes": ""
    },
    "shows": {
      "allowed_countries": [],
      "allowed_languages": [],
      "blacklisted_genres": [],
      "blacklisted_max_runtime": 0,
      "blacklisted_max_year": 2019,
      "blacklisted_min_runtime": 15,
      "blacklisted_min_year": 2000,
      "blacklisted_networks": [],
      "blacklisted_title_keywords": [],
      "blacklisted_tvdb_ids": [],
      "disabled_for": []
    }
  },
  "notifications": {
    "verbose": true
  },
  "omdb": {
    "api_key": ""
  },
  "radarr": {
    "api_key": "",
    "minimum_availability": "released",
    "quality": "HD-1080p",
    "root_folder": "{{ radarr_root_folder }}",
    "url": "http://{{ radarr_ip_address }}:{{ radarr_port_number }}/"
  },
  "sonarr": {
    "api_key": "",
    "language": "English",
    "quality": "HD-1080p",
    "root_folder": "/tv/",
    "tags": {},
    "url": "http://localhost:8989/"
  },
  "trakt": {
    "client_id": "{{ trakt_client_id }}",
    "client_secret": "{{ trakt_client_secret }}"
  }
}